/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}
/* Phones */
@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
  }
  .section3 .grid .img {
    display: none;
  }
}
/* Small */
@media (min-width: 768px) and (max-width: 995px) {
  .container {
    width: calc(100% - 10vw);
  }
  .section3 .grid .img {
    display: none;
  }
}
/* mid */
@media (min-width: 996px) and (max-width: 1199px) {
  .container {
    width: calc(100% - 15vw);
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: calc(100% - 15vw);
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -55px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
.second-heading {
  font-weight: 800;
  margin: 0 0 10px;
}
.second-heading + p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  color: #777;
  margin: 0;
}
.fn {
  display: flex;
  justify-content: space-between;
}
.fw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section2,
.section3,
.section4,
.section5,
.section6 {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
/* End Components */
/* header */
.header {
  padding: 20px;
}
.header .logo {
  width: 60px;
}
.header .container .links {
  position: relative;
}
.header .links .icon {
  width: 30px;
  justify-content: flex-end;
}
.header .container .icon span {
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
}
.header .container .icon span:nth-of-type(1),
.header .container .icon span:nth-of-type(3) {
  width: 100%;
}
.header .container .icon span:nth-of-type(2) {
  width: 60%;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.header .container .links ul {
  display: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  position: absolute;
  top: calc(100% + 15px);
  right: 0px;
  list-style: none;
  z-index: 1;
}
.header .container .links ul::before {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  right: 3px;
  top: -20px;
}
.header .container .links ul li {
  background-color: #eee;
  margin-bottom: 1px;
  text-align: left;
  transition: var(--main-duration);
}
.header .container .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}
.header .container .links:hover ul,
.header .container .links:hover .icon span:nth-of-type(2) {
  display: block;
  width: 100%;
}
.header .container .links ul li:hover {
  padding-left: 20px;
}
/* End Header */
/* section 1 */
.section1 {
  background-image: url(/leon-template/imgs/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.section1 .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.section1 .container h1 {
  font-size: 50px;
  font-weight: 600;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 15px;
}
.section1 .container p {
  text-align: center;
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
  padding: 0;
}
/* Section2 */
.section2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px 20px;
  text-align: center;
}
.section2 .container div {
  padding: 20px;
}
.section2 div i {
  color: var(--main-color);
}
/* end section2 */
/* start section 3 */
.section3 {
  background-color: unset;
}
.section3 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0 20px;
  padding: 100px 0 0;
}
.section3 .grid div:not(.img) {
  height: 200px;
}
.section3 .grid i {
  color: var(--main-color);
}
.section3 .grid span {
  margin-left: 30px;
}
.section3 .grid .img {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
  height: fit-content;
  position: relative;
  width: 360px;
  text-align: center;
}
.section3 .grid .img::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  background-color: var(--secondary-color);
  right: 0;
  top: -50px;
  z-index: -1;
  width: 100px;
}
.section3 .grid .img img {
  height: 350px;
  width: 260px;
}
/* End section3 */
/* Start Section 4 */
.section4 .grid {
  margin: 100px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px 20px;
}
.section4 .grid div {
  background-color: white;
}
.section4 .grid div *:not(img) {
  padding-left: 15px;
}
.section4 .grid img {
  max-width: 100%;
  margin-bottom: 20px;
}
/* end Section4 */
/* Start Section 5 */
.section5 {
  background-color: unset;
}
.section5 .flex {
  margin: 100px 0 0;
}
.section5 .flex .img {
  width: 250px;
  height: 375px;
  position: relative;
}
.section5 .flex .img::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  z-index: -1;
  left: -30px;
  top: -40px;
}
.section5 .flex .img::after {
  content: "";
  position: absolute;
  width: 120px;
  height: calc(100% - 80px);
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  left: calc(100% - 50px);
  top: -40px;
  z-index: -1;
}
.section5 .flex .img img {
  width: 100%;
}

.section5 .flex .text {
  flex-basis: calc(100% - 500px);
}
.section5 .flex .text p {
  line-height: 1.8;
}
.section5 .flex .text p:first-of-type {
  font-weight: 800;
  padding-bottom: 30px;
}
.section5 .flex .text p:last-of-type {
  color: #777;
  padding-top: 30px;
}
.section5 hr {
  border-color: var(--main-color);
  width: 50%;
  display: inline-block;
}
@media (max-width: 966px) {
  .section5 .flex {
    flex-direction: column;
    text-align: center;
  }
  .section5 .flex .img::before,
  .section5 .flex .img::after {
    display: none;
  }
  .section5 .flex .img {
    margin: 0 auto 60px;
  }
}
/* End section 5 */
/* Start Section6 */
.section6 p:not(:first-of-type) {
  text-align: center;
  margin: 20px;
}
.section6 p:nth-of-type(2) {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-top: 60px;
}
.section6 p:nth-of-type(3) {
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
}
.section6 p i {
  color: var(--secondary-color);
}
/* end section6 */
/* footer */
footer {
  background-color: var(--secondary-color);
  margin: 0;
  padding: 8px;
  text-align: center;
  color: white;
  font-weight: 700;
}
footer span {
  color: var(--main-color);
}

